* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani';
}

body{
    width: 100vw; max-height: 100vh;
    background-color: var(--lila);
}

.hidden{
    display: none!important;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.taffel{
    position: absolute;
    width: 85vw; height: 64vh;
    bottom: 3vh;
}

h1{
    text-align: center; text-transform: uppercase;
    font-size: 130px; font-family: "Road Rage", serif; font-weight: 10;
    color: var(--beige);
    margin-top: -20px;
}

h2{
    margin-top: 30px;
}

p{
    font-family: 'Cutive Mono';
}

.button-container{
    display: flex;
    justify-content: end;

    & button{
        margin-left: 10px;
    }
}

#delete-all{
    width: 100px;
    border: none; border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px 0;
    font-size: 1rem; font-weight: 600;
}

#word{
    m