/* 'Rajdhani' */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


/* 'Cutive Mono' */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


/* 'Road Rage' */
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');


/* 'Asap' */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --lila: #613C9D;
    --lila-dark: #4E2989;
    --lila-light: #B09DCE;
    --beige: #F4E6CE;
}